@model IEnumerable<Multas_tC.Models.Agentes>

@{
    ViewBag.Title = "Agentes";
}

<h2>Lista de Agentes</h2>

<p>
    @Html.ActionLink("Adicionar Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th></th>
    </tr>

@foreach (var agente in Model) {   //Model => Conjunto de dados que vêm do controller para a view
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => agente.Fotografia)*@
            @*<img src="~/imagens/@Html.DisplayFor(modelItem => agente.Fotografia)" />*@
            <a href="~/imagens/@agente.Fotografia" target="_blank">
                <img src="~/imagens/@agente.Fotografia" width="50" height="37" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => agente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => agente.Esquadra)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = agente.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = agente.ID }) |
            @Html.ActionLink("Remover", "Delete", new { id = agente.ID })
        </td>
    </tr>
}

</table>
